if error_msg != ''
  .alert.alert-warning.container.alert-dismissible.fade.show.mt-3.mb-3(role='alert')
    p #{ error_msg }
    button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
if success_msg != ''
  .alert.alert-success.container.alert-dismissible.fade.show.mt-3.mb-3(role='alert')
    p #{ success_msg }
    button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
