doctype html
head
  style.
    .advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    }
    .btn-secondary,
    .btn-secondary:focus,
    .btn-secondary:active {
    color: #fff;
    background-color: darkorange !important;
    border-color: darkorange !important;
    box-shadow: none;
    }
    .advanced {
    color: darkorange !important;
    } 
    .form-control:focus { 
    box-shadow: none;
    border: 1px solid darkorange;
    }
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Bands
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet')
  // 
    =======================================================
    * Template Name: Mentor - v4.6.0
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href='index.html') UGAAMUX
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a(href='/') Home
        li
          a(href='/artists') Artists
        li
          a.active(href='/bands') Bands
        li
          a(href='/comedians') Comedians
        li
          a(href='about.html') About Us
        li
          a(href='/contact') Contact
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
    a.account-btn(href='/users/login') Account
// End Header
main#main(data-aos='fade-in')
  // ======= Breadcrumbs =======
  .breadcrumbs
    .container
      h2 Bands
  // End Breadcrumbs
  section#bands.bands
    form(method='post' action='/bands')
      .container
        .row.d-flex.justify-content-center
          .col-md-12 
            
              .row.g-3.mt-0
                .col-md-3
                  .dropdown
                    select#dropdownMenuButton1.btn.btn-secondary.form-select(type='button' data-bs-toggle='dropdown' aria-expanded='false' name='filter')
                      option(selected='' value='Name')
                        | Name 
                      option(value='Genre') Genre
                      option(value='Home')
                        | Home
        
                .col-md-6
                  input.form-control(type='text' placeholder='Search bands' name='search')
                .col-md-3
                  button.btn.btn-secondary.btn-block(type='submit')
                    | Search Band  
    include partials/messages.pug
    .container.mt-3(data-aos='fade-up')
      .row.g-4(data-aos='zoom-in' data-aos-delay='100')
        if user.length
        each val in user
            .col-md-6.col-lg-3
                .card
                    .card-body.text-center
                        a(href='bands/'+val._id)
                            img.img-fluid.mb-3(src=val.bandimage alt='' style='height: 300px; width: 250px')
                        h3.card-title.mb-3.text-dark #{val.bandname}
                        .card-content
                            p
                            | #{val.profile}
                            .social
                            a(href='')
                                i.bi.bi-twitter
                            a(href='')
                                i.bi.bi-facebook
                            a(href='')
                                i.bi.bi-instagram
                            a(href='')
                                i.bi.bi-linkedin

// End #main
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6.footer-contact
          h3 Ugaamux
          p
            | Bukoto Block 66 
            br
            |               Kampala
            br
            |               Uganda 
            br
            br
            strong Phone:
            |  +256 771419370
            br
            strong Email:
            |  info@ugaamux.com
            br
        .col-lg-4.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              i.bx.bx-chevron-right
              a(href='/') Home
            li
              i.bx.bx-chevron-right
              a(href='/artists') Solo Artists
            li
              i.bx.bx-chevron-right
              a(href='/bands') Bands
            li
              i.bx.bx-chevron-right
              a(href='/comedians') Comedians
            li
              i.bx.bx-chevron-right
              a(href='/contact') Contact us
        .col-lg-4.col-md-6.footer-newsletter
          h4 Join Our Newsletter
          p Want to receive updates from Ugaamux, Join our Newsletter
          form(action='' method='post')
            input(type='email' name='email')
            input(type='submit' value='Subscribe')
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; Copyright 
        strong
          span Ugaamux
        | . All Rights Reserved
      .credits
        | Designed by Odeke Trevor
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='#')
        i.bx.bxl-twitter
      a.facebook(href='#')
        i.bx.bxl-facebook
      a.instagram(href='#')
        i.bx.bxl-instagram
      a.google-plus(href='#')
        i.bx.bxl-skype
      a.linkedin(href='#')
        i.bx.bxl-linkedin
// End Footer
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/purecounter/purecounter.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
