doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Index
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='assets/img/favicon.png' rel='icon')
  link(href='assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='assets/css/style.css' rel='stylesheet') 
  //
    =======================================================
    * Template Name: Mentor - v4.6.0
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href='index.html') UGAAMUX
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a.active(href='index.html') Home
        li
          a(href='/artists') Solo Artists
        li
          a(href='/bands') Bands
        li
          a(href='/comedians') Comedians
        li
          a(href='about.html') About Us
        li
          a(href='/contact') Contact 
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
    a.account-btn(href='/users/login') Account
// End Header
// ======= Hero Section =======
section#hero.d-flex.justify-content-center.align-items-center
  .container.position-relative(data-aos='zoom-in' data-aos-delay='100')
    h1
      | Ugaamux,
      br
      | From the Pearl;
    h2.text-light We are an archive of Ugandan Music artists, bands and performing artists
// End Hero
main#main
  // =======  artists Section =======
  section#artists.artists
    .container(data-aos='fade-up')
      .section-title
        a(href="/bands")
          h2 Music Bands
          p Popular bands
      .row.g-4(data-aos='zoom-in' data-aos-delay='100')
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='/images/janziband.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Janzi band
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/afrigo.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Afrigo band
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/deagle.png' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Da Eagle
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/code9.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Code 9

  // =======  comedians Section =======
  section#bands.bands
    .container(data-aos='fade-up')
      .section-title 
        a(href="/comedians")
          h2 Comedians
          p Popular comedians
      .row.g-4(data-aos='zoom-in' data-aos-delay='100')
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='/images/mcmariachi.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Mc Mariachi
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='/images/salvador.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Salvador
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/tamale.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Dr.Tamale
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/unclemo.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Uncle Mo
  // =======  bands Section =======
  section#bands.bands
    .container(data-aos='fade-up')
      .section-title
        a(href="/artists")
          h2 solo artists
          p Popular solo artists
      .row.g-4(data-aos='zoom-in' data-aos-delay='100')
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/sheebah.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Sheebah
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='/images/kenzo.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Kenzo
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/cindy.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Cindy
        .col-md-6.col-lg-3
          .card
            .card-body.text-center
              a(href='artists/chenkobe')
                img.img-fluid.mb-3(src='images/bebe.jpeg' alt='' style="height: 235px")
              h3.card-title.mb-3.text-dark Bebe Cool
// End #main
// ======= Footer =======
footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6.footer-contact
          h3 Ugaamux
          p
            | Bukoto Block 66 
            br
            |               Kampala
            br
            |               Uganda 
            br
            br
            strong Phone:
            |  +256 755895088
            br
            strong Email:
            |  info@ugaamux.com
            br
        .col-lg-4.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              i.bx.bx-chevron-right
              a(href='#') Home
            li
              i.bx.bx-chevron-right
              a(href='#') Solo Artists
            li
              i.bx.bx-chevron-right
              a(href='#') Bands
            li
              i.bx.bx-chevron-right
              a(href='#') Comedians
            li
              i.bx.bx-chevron-right
              a(href='#') Contact us
        .col-lg-4.col-md-6.footer-newsletter
          h4 Join Our Newsletter
          p Want to receive updates from Ugaamux, Join our Newsletter
          form(action='' method='post')
            input(type='email' name='email')
            input(type='submit' value='Subscribe')
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; Copyright 
        strong
          span Ugaamux
        | . All Rights Reserved
      .credits
        | Designed by Odeke Trevor
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='#')
        i.bx.bxl-twitter
      a.facebook(href='#')
        i.bx.bxl-facebook
      a.instagram(href='#')
        i.bx.bxl-instagram
      a.google-plus(href='#')
        i.bx.bxl-skype
      a.linkedin(href='#')
        i.bx.bxl-linkedin
// End Footer
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='assets/vendor/aos/aos.js')
script(src='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='assets/vendor/php-email-form/validate.js')
script(src='assets/vendor/purecounter/purecounter.js')
script(src='assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='assets/js/main.js')
